@media(min-height: 1920px) and (min-width: 1080px){
    * {
        margin: 0;
        padding: 0;
        border: 0;
        width: 1080px;
        height: 1920px;
    }

    p{
        width: 10px;
        height: 10px;
        background-color: black;
    }
}

@media(min-height: 1280px) and (min-width: 1024px){
    * {
        margin: 0;
        padding: 0;
        border: 0;
        width: 1024px;
        height: 1280px;
    }

    p{
        width: 10px;
        height: 10px;
        background-color: aqua;
    }
}


nav#navBar {
    display: flex;
    justify-content: center;
    height: 20%;
}



a.navBar {
    display: flex;
    justify-content: center;
    width: 6.9rem;
    border-radius: 10rem;
    margin: 2rem;
    text-decoration: none;
    padding: 2em;
    background-color: black;
    color: white;
    transition: all 0.8s;
}

a.navBar:hover{
    transform:scale(1.3)
}